/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* Below 1344 px (smaller Desktops) */

@media (max-width: 84rem) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bellow 1200px (Landscape tablets) */

@media (max-width: 75rem) {
  html {
    /* 9px /16px */
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

/* Bellow 1000px */
@media (max-width: 63rem) {
  html {
    font-size: 50%;
  }
}

/* Bellow 900px */
@media (max-width: 56rem) {
  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .happy-clients {
    justify-content: center;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .cta {
    grid-template-columns: 1.5fr 1fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }

  /* mobile nav */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    /* background-color: rgba(255, 255, 255, 0.97); */
    background-color: rgba(171, 196, 202, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    /* hide navigation
    allows no transition at all
    display:none; */

    /* to hide it without display:none */
    /* 1. hide it visualy */
    opacity: 0;

    /* 2. make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3. hide it from screen readers */
    visibility: hidden;
  }

  /* to parakato kanei apply mono otan iparxei to nav-open class */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    /* gia na erthei to menu. me animation */
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* bellow 660px */
@media (max-width: 42rem) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .jag {
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }
}

/* bellow 550px */
@media (max-width: 34rem) {
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }
  .grid {
    row-gap: 4.8rem;
  }

  .grid--3-cols,
  .grid--4-cols,
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .services-img-box:nth-child(2) {
    grid-row: 1;
  }

  .services-img-box:nth-child(6) {
    grid-row: 5;
  }

  /* katevazei tis photografies ligo pio kato , gia na exei kalitero gap kai na xorizontai ta services */
  .services-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 36rem;
    grid-row: 1;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .jag {
    width: 100%;
  }
}
