/* --- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px */

/* colors
primary: #2d6c7b
secondary:

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Space Mono", monospace;
  color: #444;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ****** */
/* HEADER */
/* ****** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #abc4ca;

  /* to bazoume orismeno to height gia na ginei sticky argotera */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  /* height: 2.4rem; */
  height: 8.6em;
}

/* *********** */
/* NAVIGATION */
/* ********** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* to inline block gia na douleyei to paddingh */
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-active {
  color: white;
}

/* vazoume to main nav link oste na megalose to specificity kai na eimaste sigouroi oti tha kanei apply to style */
/* Epeidi iparxei kai allo class me xroma, mporei na iparskei conflict */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #2d6c7b;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #17363e;
}

/* **** */
/* HERO */
/* **** */

/* to parakato mpainei gia na mporesei to background color na einai se oli tin othoni */
.section-hero {
  background-color: #abc4ca;
  padding: 4.8rem 0 9.6rem 0;
  min-height: 100vh;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gia na center horizontally */
  margin: 0 auto;
  /* gia na exei ligo keno, akoma kai otan mikrainei i othoni */
  padding: 0 3.2rem;
  gap: 9.6rem;
  align-items: center;
}

.happy-clients {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.happy-imgs {
  display: flex;
}

.happy-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  /* gia na vgei to border idiou xromatos se kathe picture */
  border: 3px solid #abc4ca;
}

/* Epeidi apo to proigoumeno , to text paei poli aristera logo tou - sto margin */
.happy-imgs img:last-child {
  margin: 0;
}

.happy-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.happy-text span {
  color: #2d6c7b;
  font-weight: 700;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
}

.hero-img {
  max-width: 100%;
}

/* ******** */
/* PARTNERS */
/* ******** */

.section-partners {
  padding: 3.2rem 0;
}

.heading-partners {
  color: #999;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  /* gia na kanoume monoxroma ta logos */
  filter: grayscale(1);
  height: 4rem;
}

/* ******** */
/* Services */
/* ******** */
.section-services {
  padding: 9.6rem 0;
}

.services-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-img {
  width: 100%;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 1.2rem;
}

.services-description {
  font-size: 2rem;
  line-height: 1.8;
}

/* ***** */
/* Shop */
/* **** */

.shop--background {
  background-color: white !important;
}

/* ************ */
/* Testimonials */
/* ************ */

.section-testimonials {
  background-color: #abc4ca;
  display: grid;
  /* den xrisimopoioume idia noumera, gia na einai to gallery mikrotero */
  grid-template-columns: 55fr 45fr;
  /* an den kanoume align items, ta antikeimena tou gallery exoun periergo
  spacing */
  align-items: center;
}
/* xrisimopoioume allo grid, gia na ftiaksoume mikrotero gap apo ta alla */

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

/* ******* */
/* Gallery */
/* ******* */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item img {
  /* by default oi images einai inline lements. Gia ayto kai iparxei ena mikro keno. An tis kanoume block, 
  eksafanizetai to keno metaksi tous */
  display: block;
  width: 100%;
  transition: all 0.4s;
}

/* gia na min kanei overflow to parakato effect */
.gallery-item {
  overflow: hidden;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* ******** */
/* Pricing */
/* ******* */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.plan-name {
  color: #2d6c7b;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

/* to xrisimopoioume gia na metaferoume mono tin aristeri karta */
.pricing-plan--common {
  justify-self: end;
  border: 2px solid #f8ef9f;
  padding: 4.6rem;
}

.pricing-plan--special {
  background-color: #f8ef9f;
  padding: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 9.6rem;
}

/* features */

.feature-icon {
  color: #2d6c7b;
  background-color: #f8ef9f;
  padding: 1.6rem;
  border-radius: 50%;
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* *********** */
/* CTA SECTION */
/* *********** */

.section-cta {
  /* to 12.8 einai0 gia na exei idia apostasi me to footer */
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #abc4ca; */
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #abc4ca, #2d6c7b);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  /* height: 50rem; */
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #0d1e22;
}

.cta .heading-secondary {
  color: #0d1e22;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-img-box {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(171, 196, 202, 0.35),
      rgba(45, 107, 123, 0.35)
    ),
    url("../pics/cta.png");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  /* xoris to parakato den kanei inherit to font family */
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #dde7ea;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #999;
}
